:root {
  /* --very-dark: #0c1927; */
  --very-dark: #211e2d;
  --white: #fefefe;
  --primary: #205ffe;
  --secondary: #343145;
  --hover: #3484ff;

  /* neumorphism */
  --neumo-inset: inset 8px 8px 15px rgba(0, 0, 0, 0.2),
    inset -8px -8px 15px rgba(255, 255, 255, 0.03),
    8px 8px 15px rgba(0, 0, 0, 0.2), -8px -8px 15px rgba(255, 255, 255, 0.03);
}

::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body #root {
  background: var(--very-dark);
  color: var(--white);
  padding: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

ul,
li {
  text-align: left;
  list-style: none;
}

button {
  border: 2px solid transparent;
  border-radius: 5px;
  font-weight: bold;
  background: var(--primary);
  color: var(--white);
  padding: 10px 25px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
  background: var(--hover);
}

.App {
  text-align: center;
  width: min(100%, 640px);
  height: min(100%, 850px);
  background: var(--very-dark);
  margin: 0 auto;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: var(--neumo-inset);
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow-y: scroll;
  user-select: none;
}

.App p {
  user-select: text;
}

.App section {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.App header {
  position: sticky;
  top: 0;
  box-shadow: var(--neumo-inset);
  border: 2px solid transparent;
  border-radius: 10px;
  background: var(--very-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  width: 100%;
  z-index: 1;
}

.App header h1 {
  font-size: 1.4rem;
}

.App header span {
  display: flex;
  align-items: center;
}

.App header span h3 {
  margin-left: 0.5rem;
}

.sign-in {
  margin-top: 2rem;
}

main {
  min-height: calc(100% - 70px);
  margin-top: 0.75rem;
  margin-inline: 0.75rem;
  z-index: -1;
}

form {
  box-shadow: var(--neumo-inset);
  border: 2px solid transparent;
  background: var(--very-dark);
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  border-radius: 10px;
}

form button {
  width: 10%;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
}

form button:hover {
  background: transparent;
  color: var(--primary);
}

input {
  vertical-align: center;
  width: 100%;
  font-size: 1.1rem;
  background: transparent;
  color: var(--white);
  outline: none;
  border: none;
  padding: 15px 20px;
}

button:disabled {
  opacity: 0.5;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  position: relative;
  color: var(--white);
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.message img {
  margin-right: 15px;
}

.sent {
  flex-direction: row-reverse;
}

.sent img {
  display: none;
}

.sent p {
  border-radius: 15px 0 15px 15px;
  background: var(--primary);
  align-self: flex-end;
}
.received p {
  background: var(--secondary);
  border-radius: 0 15px 15px 15px;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}
